body {
	background-image: url('../images/congruent_pentagon.png');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.jumbotron {
	text-align: center;
	height: 100%;

}

#answersDiv .btn {
	background-color: #99ffcc;
	border: solid #ccccb3 2px;
}

#reset {
	visibility: hidden;
}